{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}

<body style="background-image: url(../static/photos/back.jpg)">


    <h1 class="display-2" style="text-align: center;">FALCON BLOG</h1><br>
    <small><h4 style="text-align: center;">WHAT'S ON YOUR MIND!!</h4></small>

    </div>
    </div>
    <div class="container">
        <div style="width: 60%; height:50%">

            <h2>BE A DUNGEON MASTER</h2>
            <br> {{ wtf.quick_form(subscriber_form) }}


        </div>

    </div>

    {% endblock %}
</body>